body {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vdh;
    overflow: hidden;
}

button {
    background-color: rgb(2, 255, 2);
    border-style: none;
    box-shadow: inset 0 2px 4px rgba(255,255,255,0.6),
                4px 4px 8px rgba(0,0,0,0.4);
    border-color: 2px solid rgb(0, 196, 0);
    border-radius: 50px;
    color: whitesmoke;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 60px;
    width: 300px;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover {
    transform: scale(1.2);
}

button:active{
    transform: scale(0.95);
    transition: 0.3s ease-in-out;
    background-color:  rgb(0, 206, 0);
    color: rgb(197, 197, 197);
}

#button-reset {
    background-color: rgba(196, 3, 3, 0.904);
    box-shadow: inset 0 2px 4px rgba(255,255,255,0.6),
                4px 4px 8px rgba(0,0,0,0.4);
    border-radius: 10px;
    height: 40px;
    width: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.1s ease;
}

#button-reset:hover {
    transform: scale(1.1);
}

#button-reset:active {
    transform: translateY(2px);
    transition: 0.1s;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    padding: 0;
    text-shadow: 1px 3px 5px #aba8a8;
}

p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 7px;
    position: relative;
    top: 290px;
    color: whitesmoke;
    padding: 0;
    transition: 0.5s ease;
    cursor: pointer;
    text-shadow: 1px 13px 5px #aba8a8;
}

p:hover {
    transform: scale(1.2);
}


